<h1>Listing events</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Started</th>
      <th>Finished</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= t event.title %></td>
        <td><%= t event.description %></td>
        <td><%= t event.started %></td>
        <td><%= t event.finished %></td>
        <td><%= link_to "Show", event %></td>
        <td><%= link_to "Edit", edit_event_path(event) %></td>
        <td><%= link_to "Delete", event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New event', new_event_path, class: "btn btn-primary" %>
