<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Started:</strong>
  <%= @event.started %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @event.finished %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', calendar_path  %>
