<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :title %>:</strong>
  <%= t @event.title %>
</p>

<p>
  <strong><%= t :description %>:</strong>
  <%= t @event.description %>
</p>

<p>
  <strong><%= t :started %>:</strong>
  <%= t @event.started %>
</p>

<p>
  <strong><%= t :finished %>:</strong>
  <%= t @event.finished %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', calendar_path  %>
